<hr>
<h4>{{hero.name}} Detail</h4>
<!--<div>Id: {{hero.id}}</div>-->

<div>Id:<input [(ngModel)]="hero.id"></div>
<div>Name:<input [(ngModel)]="hero.name"></div>
<div>Power:<input [(ngModel)]="hero.power"></div>

<!--<button (click)="save()">Save</button>-->
<button (click)="addHero()">Add</button>
<button (click)="updateHero()">Update</button>
<button (click)="deleteHero()">Delete</button>
<button (click)="getHero()">GetHeroAndShowInLogs</button>
<button (click)="getHeroNoCall()">getHeroNoCall</button>



